<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1 maximum-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/bounce.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="js/c3-0.4.10/c3.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <title>Hi from Sinatra and Arduino</title>
  <%= include_gon %>
    <title>Document</title>
</head>
<div class="main-container">

  <body>
    <h1>
      <span class="heading">How does it work?</span>
    </h1>
    <div>
      <div class="not-working">
        <h2>Well, at the moment, this bit <i>isn't</i> working. </h2>
        <div class="footer">
          <p>
            The spidderfliggot must somehow have become disconnected from the manglebobbin.
          </p>
          <p>
            Go <a href="/">home</a>
          </p>

        </div>
      </div>

  </body>
  </div>

</html>
