<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1 maximum-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">

  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="css/bounce.css" rel="stylesheet" type="text/css">
<!--   <link href="css/swoosh.css" rel="stylesheet" type="text/css">
 -->


  <link rel="stylesheet" href="js/c3-0.4.10/c3.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <title>Hi from Sinatra and Arduino</title>
  <%= include_gon %>
    <title>Document</title>
</head>
<div class="main-container">

  <body>
    <h1><span class="heading">ArduinoMeter</span></h1>
    <div>

      <div id="light-chart" class="chart"></div>
      <h2><span class="bounce-light">Current Light intensity</span></h2>
    </div>
    <div>

      <div id="temp-chart" class="chart"></div>
      <h2><span class="bounce-temp">Current temperature</span></h2>
    </div>

    <div class="footer">
      <p>
        <a href="/how">How does it work?</a>
      </p>
    </div>

    <div class="footer-not-working">
      <p>
        Why isn't this working?
      </p>
    </div>

    <div class="hidden-message">
      <h1></h1>
    </div>
  </body>
</div>

<script src="js/underscore/underscore-min.js"></script>
<script src="js/audio.js"></script>
<script src="js/main.js"></script>
<script src="js/faye/faye.js"></script>
<script src="js/socket.js"></script>
<script src="js/application.js"></script>
<script src="js/d3Stuff/d3.min.js"></script>
<script src="js/c3-0.4.10/c3.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/tempChart.js"></script>
<script src="js/audio.js"></script>



</html>
